APP_NAME=
APP_ENV=
APP_HOST=
APP_PORT=

# Azure SQL
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=

# Microsoft Entra ID
ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=

ENTRA_CLIENT_SECRET=

AZURE_KEY_VAULT_URL=

# Application
SECRET_KEY=